# Copie este archivo como terraform.tfvars y complete sus datos
region          = "us-east-1"
nombre_proyecto = "lab-tf"
alumno          = "eavila" # su código o usuario, en minúsculas
instance_type   = "t3.micro"
